<div class="main-container">
  <h2 class="main-container__heading">{{ heading }}</h2>
  <p class="main-container__paragraph">{{ paragraph }}</p>
  <a routerLink="{{ primaryActionHref }}">{{ primaryActionText }}</a>
</div>
