@import "../../variables.component.scss";


.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    background:$Whitecolor ;
    box-shadow:0 2px 5px transparentize(#000, .9);
        .headercontent{
            max-width: 1450px;
            width: 95vw;
            margin: 0px auto ;
        }
              .navbar-header    {
                    .navbar-toggle {
                        margin-top: 17px;
                    }
                    .navbar-brand {
                        height: auto;
                        padding: 4px 15px -1px;
                        img {
                            display:inline;
                            width: 35px;
                        }
                        .logo_text{
                            font-size: 24px;
                            color: $primary-color;
                            font-weight: 700;
                            padding-left: 10px;
                            line-height: 1.1;
                        }
                    }

                }

    .navbar-nav {
        .main-li {
                padding: 16px 12px;
                color: $primary-color;
                font-size: 20px;
                font-weight: $semiboldFontWeight;
                line-height: 1.1;
                a{
                    padding-bottom: 0;
                    padding-top: 0;
                    padding: 4px 12px;
                    color: $primary-color;
                    font-size: 20px;
                    font-weight: $semiboldFontWeight;
                    line-height: 1.1;

                    &.active {
                        background: transparent;
                        border-top: 0px solid #ff6c00; color:#ff6c00;
                    }
                    &.open {
                        background: transparent;
                        border-top: 0px solid #ff6c00; color:#ff6c00;
                    }
                    &:hover {
                        background: transparent;
                        border-top: 0px solid #ff6c00; color:#ff6c00;
                    }
                }
               &.active {
                background: transparent;
                border-top: 0px solid #ff6c00; color:#ff6c00;
               }
               &.open {
                background: transparent;
                border-top: 0px solid #ff6c00; color:#ff6c00;
               }
               &:hover {
                background: transparent;
                border-top: 0px solid #ff6c00; color:#ff6c00;
              }
            }
        .dropdown-li {
                padding: 4px 12px;
                color: $primary-color;
                font-size: 20px;
                font-weight: $semiboldFontWeight;
                line-height: 1.1;
                img{
                    width: 30px;
                }
                a{
                    line-height: 1.1;
                }
               &.active {
                background: transparent;
                border-top: 0px solid #ff6c00; color:#ff6c00;
               }
               &.open {
                background: transparent;
                border-top: 0px solid #ff6c00; color:#ff6c00;
               }
               &:hover {
                background: transparent;
                border-top: 0px solid #ff6c00; color:#ff6c00;
              }

              .dropdown-menu {
                position: absolute;
                background-color: #f1f1f1;
                min-width: 180px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                li{
                    line-height: 1.1;
                    a {
                        color: $primary-color;
                        padding: 10px 16px;
                        text-decoration: none;
                        display: block;
                        font-size: 20px;
                        line-height: 1.1;
                        &.active {
                            border-top: 0px solid #ff6c00; color:#ff6c00;
                        }
                        &.open {
                            border-top: 0px solid #ff6c00; color:#ff6c00;
                        }
                        &:hover {
                            border-top: 0px solid #ff6c00; color:#ff6c00;
                            background-color: #ddd;
                        }
                    }
                    &.active {
                        background: transparent;
                        border-top: 0px solid #ff6c00; color:#ff6c00;
                       }
                       &.open {
                        background: transparent;
                        border-top: 0px solid #ff6c00; color:#ff6c00;
                       }
                       &:hover {
                        background: transparent;
                        border-top: 0px solid #ff6c00; color:#ff6c00;
                    }
                }
            }
        }
    }
}

.modal{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .panel {
        border-radius: 0px ;
        border: none ;
        box-shadow: none;
        .panel-heading {
            color: #333;
            border-radius: 0px;
            padding: 0;
            border: 0;
            background-color: #fff;

            .panel-title {
                a {
                    display: block;
                    padding: 15px;
                    color: $primary-color;
                    font-size: $defaultFontSize;
                    font-weight: $boldFontWeight;
                    text-decoration: none;
                    line-height: 1.5;
                    .exportHeadings{
                        margin-left: 15px;
                        font-size: 20px;
                    }
                    &:active {
                      display: block;
                      padding: 15px;
                      color: $primary-color;
                      font-size: $defaultFontSize;
                      font-weight: $boldFontWeight;
                      text-decoration: none;
                    }

                    &::before {
                        // font-family: 'Glyphicons Halflings';
                        content: "\f100";
                        transition: all 0.5s;
                    }
                }
            }

            &.active{
                a::before {
                    transform: rotate(180deg);
                }
            }
        }

        .panel-collapse{
            .panel-body {
                margin-top: 5px;
                color: $secondary-color;
                font-size: $smallFontSize;
                font-weight: $semiboldFontWeight;
                line-height: 1.5;
                padding-top: 0px;
                border: none ;

                .exportSubHeadings{
                    font-size: 16px;
                    font-weight: 600;
                    padding: 15px;
                    border-bottom: 1px solid #ddd;
                }

                .fieldDiv{
                    max-height: 135px;
                    height: auto;
                    overflow-y: auto;
                }

                .exportDiv{
                    max-height: 361px;
                    height: auto;
                    overflow-y: auto;
                }

                .exportItems{
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px 15px;
                }

                .warningiconWrapper{
                    .warningicon{
                        width: 18px;
                        height: 16px;
                        color: #000;
                        cursor: pointer;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .modal-content {
        border-radius: 0px;
        color: #848181;


        .modal-body {
            padding: 15px 3em;

            .btn-graphic {
                height: 40px;
                border-radius: 20px;
                line-height: 1.5;
            }
            .btn-tabular {
                height: 40px;
                border-radius: 20px;
                line-height: 1.5;
                margin-right: 3%;
            }

            .error {
                font-size: 14px;
                color: #dc3545;
                line-height: 1.5;
            }
        }

          .date-from {
            width: 50%;
            padding: 0 10px 0 0;
            line-height: 1.5;
          }

          .date-to {
            width: 50%;
            padding: 0 0px 0 10px;
            line-height: 1.5;
          }

          .date-div{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: flex-start;
          }

          .form-group {
            margin-bottom: 9px;
          }

          .form-control {
            display: block;
            width: 100%;
            height: 38px;
            padding: 10px 15px;
            font-size: $smallFontSize;
            line-height: 1.42857143;
            color: #808080;
            background-color: #e6e6e6;
            background-image: none;
            border: 1px solid #e6e6e6;
            border-radius: 20px;
            line-height: 1.5;
            box-shadow: none;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

            &:hover, &:focus {
              color: #000;
              background: #dbd9d9;
            }

            label {
                margin-left: 4px;
                line-height: 1.5;
            }
        }
    }

    .bor-btm{
        border-bottom: 1px solid #ddd;
    }

    .popupdatepicker{
        padding: 2px 15px;
        display: block;
        width: 100%;
        height: 38px;
        font-size: $smallFontSize;
        color: #808080;
        background-color: #e6e6e6;
        background-image: none;
        border: 1px solid #e6e6e6;
        line-height: 1.5;
        border-radius: 20px;
        user-select: none;
        box-shadow: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

        &:hover {
            color: #000;
            background: #dbd9d9;
        }

        &:focus {
            color: #000;
            background: #dbd9d9;
        }

        .ngx-datepicker-container{
            .ngx-datepicker-input{
                background-color: inherit;
                border: none;
                width: 100%;
                padding: 10px 15px;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .headercontent {
       width: 100% ;
    }
}

@media only screen and (max-width: 991px) and (min-width:768px) {
    .navbar.navbar-default .headercontent {
      width: 92vw;
      margin: 0px 3em;
    }

  }


  @media only screen and (max-width: 767px) and (min-width:300px) {
    .navbar.navbar-default .navbar-nav .dropdown-li .dropdown-menu {
        position: relative;
        background-color: #f1f1f1;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }
   
}


