<!-- <div class="text-center logo_header">
  <a routerLink="/">
    <img src="assets/images/logo.svg" alt="website logo" class="img-responsive logosection">
   
  </a>
</div> -->

<div class="col-md-12 text-center login-icon">
  <a routerLink="/">
    <img src="assets/images/login_icon.png" class="img-responsive login-icon-img" alt="website logo">
  </a>
</div>

<div class="col-md-12 col-xs-12 col-sm-12">
  <div class="col-md-offset-3 col-md-6 loginsection">
    <h1 class="text-center" [translate]="'login_head'">Log in to your account</h1>
    <div class="error-message alert alert-danger" *ngIf="isError"> {{errorMessage}}</div>
    <form class="loginForm" [formGroup]="loginForm">
      <div class="col-md-12">
        <label [translate]="'email'">E-mail</label>
        <div
          [ngClass]="(isErrorCheck && loginForm.controls.email.errors && loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)) ? 'mb-3' : 'mb-23' ">
          <input (blur)="ValidationError()" (input)="ValidationErrorCheck()" type="text" class="form-control"
            formControlName="email" maxlength="50" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
        <div *ngIf="isErrorCheck">
          <div
            *ngIf="loginForm.controls.email.errors && loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
            class="error">
            <span *ngIf="loginForm.controls.email.errors.required" [translate]="'required_email'">E-Mail is
              required</span>
            <span *ngIf="loginForm.controls.email.errors.maxlength" [translate]="'maxlength_email'">The e-mail can not
              be longer than 50 characters</span>
            <span *ngIf="loginForm.controls.email.errors.pattern" [translate]="'incorrect_email'">E-mail should be a
              valid address</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label [translate]="'password'">Password</label>
        <div
          [ngClass]="(isErrorpwd && loginForm.controls.password.errors && loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)) ? 'mb-3' : 'mb-23' ">
          <input (blur)="Validationpwd()" (input)="ValidationErrorpwd()" type="password" class="form-control"
            formControlName="password" maxlength="25">
        </div>
        <div *ngIf="isErrorpwd">
          <div
            *ngIf="loginForm.controls.password.errors && loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
            class="error">
            <span *ngIf="loginForm.controls.password.errors.required" [translate]="'required_password'">Password is required</span>
            <span *ngIf="loginForm.controls.password.errors.minlength" [translate]="'minlength_password'">Password must be at least 6 characters long</span>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <label class="containercheckbox remembertext" [translate]="'keep_me'">Keep me signed in
          <input type="checkbox" formControlName="rememberme">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-md-12">
        <input type="submit" name="submit" class="btn btnlogin btn-block" value="{{'login' | translate}}"
          [ngStyle]="{ 'cursor' : (!loginForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!loginForm.valid"
          (click)="submitLogin()" />
      </div>
    </form>
    <div class="col-md-12">
      <!-- <h6 class="signup">
        <a routerLink="/register">Sign Up</a>
      </h6> -->
      <h6 class="forgotpass">
        <a routerLink="/faq" style="color:#4a9fd6;" [translate]="'faq'">Frequently asked questions</a>
      </h6>
      <h6 class="forgotpass pull-right">
        <a routerLink="/forgotpassword" [translate]="'forgot_password'">Forgot password</a> &nbsp;&nbsp;
        <!-- <a routerLink="/faq" style="color:#4a9fd6;">FAQ</a> -->
      </h6>
    </div>
    <!-- <div class="col-md-12 mt-10 mb-15 text-center">
      <h6 class="login" [innerHTML]="'register_message' | translate"></h6>
    </div> -->
    <div class="col-md-12 mt-10 mb-15 text-center">
      <h6 class="login" [translate]="'register_message'">You do not have an account? <a [translate]="'register_link_text'" routerLink="/register" >Create a user account now</a></h6>
    </div>
  </div>
</div>

<app-deletealert></app-deletealert>