@import "../variables.component.scss";

.pageHeading{
    margin-top: 5em;
    .page-title {
        font-size: $headingFontSize;
        color: $primary-color;
        font-weight: $boldFontWeight;
        line-height: 1.1;
    }

    .faq {
        margin-top: 15px;
        margin-bottom: 15px;
        border: 0;
        border-top: 1px solid #fff;
    }
}

#exTab1{
    margin-top: 1em;
    margin-bottom: 3em;
    
    .tab-content {
        color: $Whitecolor;
        background-color: $Whitecolor;
        border: 1px solid #e2e2e2;
        padding: 5px 15px;
        padding-bottom: 2em;
        box-shadow: 1px 1px 6px #ccc;

        form {
            margin: 1em 0;
            .note{
                color: #afafaf;
            }
            .form-control {
                border-radius: 20px;
                height: 40px;
                line-height: 1.5;
            }

            .file-form-control {
                height: 40px;
                line-height: 1.5;
                display: block;
                width: 100%;
                padding: 6px 12px;
                font-size: 14px;
                color: #afafaf;
                background-color: #fff;
            }

            .error {
                font-size: 90%;
                color: #ff495a;
                width: 100%;
                text-align: left;
                line-height: 1.5;
                padding-left: 5%;
            }
            
            label {
                padding: 0 12px;
            }

            select {
                border-left: 1px solid #ccc ;
            }

            .save-button {
                border-radius: 25px;
                min-height: 40px;
                margin-top: 1.8em;
                background: #73b680;
                outline: 0px ;
                line-height: 1.5;
                &:hover, &:focus {
                    box-shadow: 0 0 0 2px white, 0 0 0 3px #73b680;
                    background: #73b680 ;
                    outline: 0px ;
                }
            }

            .customalert{
                margin-bottom: 0;
                margin-top: 2%;
                width: 94%;
                margin-left: 3%;
                color: #3c763d;
            }

            .customerroralert{
                margin-bottom: 0;
                margin-top: 2%;
                width: 94%;
                margin-left: 3%;
                //color: #3c763d;
            }
        }

        .mar-top2em {
            margin-top: 2em;
        }

        .mar-top1em {
            margin-top: 1em;
        }

        .servererror {
            width: 90%;
            text-align: left;
            margin: 1% 5%;
            padding: 1% 4%;
            color: $Whitecolor;
            background-color: #dc3545;
            line-height: 1.5;
            div {
              margin: 0.5% 0;
            }
        }
    }

    .changePasswordSection{
        margin-top: 2%;
    }
    
}
  

@media only screen and (max-width: 1024px) {
.pageHeading {
    text-align: center;
    margin-top: 6em;
}
}
.errorMessage{
    text-align: center !important;
    font-size: 20px !important;
}
.error span{
    color: red;
}

.head-text {
    font-size: 20px;
    font-weight: bold;
    color: #606060;
}

.btn-primary {
    margin-top: -5px;
    border-radius: 25px;
    background: #2ea6d0;
    color: #ffffff;
    border-color: #2ea6d0;
    font-weight: bold;
    padding: 7px 23px;
}

.table>tbody>tr>td {
    padding: 8px 1px;
    color: #afafaf;
    font-size: 16px;
    font-weight: 600;
}


th{
    padding: 8px 1px;
    color: #606060;
    font-size: 16px;
}

th:hover {
    padding: 8px 1px;
    color: #606060;
    font-size: 16px;
}

.modal .modal-content {
            .modal-header {
            border-bottom: 0px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 60px;
            border-bottom: 1px solid #ddd;
            background-color: #369dc6;
            line-height: 1.1;
            .cultur-title {
                color: #fff;
                line-height: 1.1;
                text-align: center;
                font-size: 26px;
                font-weight: bold;
            }
        }

        .modal-body {
          .form-control {
            width: 100%;
            height: 35px;
            padding: 1em;
            border-radius: 25px;
            box-shadow: none;
            outline: none;
            border: 1px solid #dcdcdc;
        }
     }
    .modal-footer {
        .btn-save {
            height: 40px;
            border-radius: 20px;
            padding: 10px 55px;
            line-height: 1.5;
        }
    }
}


@media only screen and (min-width: 300px) and (max-width: 767px) {
    th {
        padding: 8px 40px 8px 8px;
    }
    .table > tbody > tr > td {
        padding: 8px 40px 8px 8px;
    } 
}