<div class="container-fluid dashboardsection">
  <div class="col-md-12 martop6em">
    <div class="col-md-6">
      <h4 class="sectionheading">Dashboard</h4>
      <p class="sectionText">This will be your dashboard. We’re displaying sample data untill you <b>create field</b>.
      </p>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="openFieldModal()" class="sectionLink">
        <h6>Create New Field</h6>
      </a>
    </div>
    <div class="col-md-12 pad-15">
      <div class="border"></div>
    </div>
  </div>
</div>

<div class="container-fluid helpSection">
  <div class="col-md-12" [ngClass]="(fieldcountData == 0) ? 'mar-top2em':'martop6em'">
    <div class="col-md-6">
      <h4 class="sectionheading">Get Started Guide</h4>
      <p class="sectionText">Here are some simple guides to setup. If you have any questions along the way, just click
        on help icon.</p>
    </div>
    <div class="col-md-6 text-right">
      <a (click)="showHideStartedGuide = !showHideStartedGuide" class="sectionLink">
        <h6>{{ showHideStartedGuide ? 'Show' : 'Hide' }} Get Started Guide</h6>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid helpPopupSection" [hidden]="showHideStartedGuide">
  <div class="col-md-12 mar-top2em">
    <div class="col-md-1 pad-0 col-xs-3 col-sm-1">
      <img src="assets/images/dashboard-1x.png"
        srcset="assets/images/dashboard-1x.png 1x, assets/images/dashboard-2x.png 2x" class="img-class"
        (click)="openhelpModal('dashboard')">
    </div>
    <div class="col-md-1 col-sm-1 pad-0 mobile_connecting_line ">
      <div class="connecting-line"></div>
    </div>
    <div class="col-md-1 pad-0  col-xs-3 col-sm-1">
      <img src="assets/images/chart-1x.png" srcset="assets/images/chart-1x.png 1x, assets/images/chart-2x.png 2x"
        class="img-class" (click)="openhelpModal('chart')">
    </div>
    <div class="col-md-1 col-sm-1 pad-0 mobile_connecting_line">
      <div class="connecting-line"></div>
    </div>
    <div class="col-md-1 pad-0 col-xs-3 col-sm-1 ">
      <img src="assets/images/agri-1x.png" srcset="assets/images/agri-1x.png 1x, assets/images/agri-2x.png 2x"
        class="img-class" (click)="openhelpModal('agricontrol')">
    </div>
    <div class="col-md-1 col-sm-1 pad-0 mobile_connecting_line">
      <div class="connecting-line"></div>
    </div>
    <div class="col-md-1 pad-0 col-xs-3 col-sm-1 ">
      <img src="assets/images/activities-1x.png"
        srcset="assets/images/activities-1x.png 1x, assets/images/activities-2x.png 2x" class="img-class"
        (click)="openhelpModal('activities')">
    </div>
  </div>
</div>

<app-footer></app-footer>
<!-- <ngx-spinner type="ball-clip-rotate"></ngx-spinner> -->
<div *ngIf="isLoading" class="loading">Loading&#8230;</div>

<!-- [ field Modal ] -->
<div class="modal" tabindex="-1" id="fieldmodalId" role="dialog" [ngStyle]="{'display':fieldModal}"
  (click)="closemodal('field')">
  <div class="modal-dialog">
    <div class="modal-content" id="fieldContentId">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeFieldModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title text-center">
          <strong>Create New Field</strong>
        </h4>
      </div>
      <div class="error-message alert alert-danger alert-dismissible" role="alert" *ngIf="isError">
        {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fieldmodalbody">
        <form [formGroup]="addFieldForm">
          <div class="form-group">
            <label class="pl-15">Field Name</label>
            <input (blur)="Validationfieldname()" (input)="ValidationErrorfieldname()" type="text" class="form-control"
              formControlName="name" maxlength="50">
          </div>
          <div *ngIf="isErrorfieldname">
            <div
              *ngIf="addFieldForm.controls.name.errors && addFieldForm.controls['name'].invalid && (addFieldForm.controls['name'].dirty || addFieldForm.controls['name'].touched)"
              class="error">
              <span *ngIf="addFieldForm.controls.name.errors.required">Field Name is required</span>
              <span *ngIf="addFieldForm.controls.name.errors.maxlength">Field Name must be less than 50
                characters</span>
            </div>
          </div>

          <div class="form-group">
            <label class="pl-15">Field Size</label>
            <input (blur)="Validationfieldsize()" (input)="ValidationErrorfieldsize()" type="text" class="form-control"
              formControlName="size" (keypress)="numberOnly($event)" maxlength="10">
            <small class="pl-15"><strong>in `a` (Acre)</strong></small>
          </div>
          <div *ngIf="isErrorfieldsize">
            <div
              *ngIf="addFieldForm.controls.size.errors && addFieldForm.controls['size'].invalid && (addFieldForm.controls['size'].dirty || addFieldForm.controls['size'].touched)"
              class="error">
              <span *ngIf="addFieldForm.controls.size.errors.required">Field Size is required</span>
              <span *ngIf="addFieldForm.controls.size.errors.maxlength">Field Size must be less than 10
                characters</span>
              <span *ngIf="addFieldForm.controls.size.errors.pattern">Field Size should be digit</span>
            </div>
          </div>

          <div class="date-div col-md-12 col-sm-12 col-xs-12">
            <div class="swapped col-md-4 col-sm-6 col-xs-12 pad-0">
              <div class="form-group">
                <label class="container-checkbox" translate>Eco
                  <input type="checkbox" formControlName="echo" (change)="checkUncheckEcho($event)">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="swappedwith col-md-8 col-sm-6 col-xs-12 pad-0">
              <div class="form-group" *ngIf="showHideEchoSize">
                <label>Eco Size</label>
                <input type="text" class="form-control" formControlName="echoSize" (keypress)="numberOnly($event)"
                  maxlength="10">
                <small class="pl-15"><strong>in `a` (Acre)</strong></small>
              </div>
              <span
                *ngIf="addFieldForm.errors?.echoSizeRequired && (addFieldForm.controls['echoSize'].dirty || addFieldForm.controls['echoSize'].touched)"
                class="error">{{ addFieldForm.errors?.echoSizeRequired }}</span>
              <span *ngIf="ecoSizeIssue" class="error">Eco Size is Exceeded from Field Size.</span>
              <div
                *ngIf="addFieldForm.controls.echoSize.errors && addFieldForm.controls['echoSize'].invalid && (addFieldForm.controls['echoSize'].dirty || addFieldForm.controls['echoSize'].touched)"
                class="error">
                <span *ngIf="addFieldForm.controls.echoSize.errors.maxlength">Eco Size must be less than 10
                  characters</span>
                <span *ngIf="addFieldForm.controls.echoSize.errors.pattern">Eco Size should be digit</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="pl-15">Address</label>
            <input type="text" class="form-control" formControlName="address" maxlength="300">
          </div>
          <div
            *ngIf="addFieldForm.controls.address.errors && addFieldForm.controls['address'].invalid && (addFieldForm.controls['address'].dirty || addFieldForm.controls['address'].touched)"
            class="error">
            <span *ngIf="addFieldForm.controls.address.errors.maxlength">Address must be less than 300 characters</span>
          </div>
          <div class="form-group">
            <label class="pl-15">City</label>
            <input type="text" class="form-control" formControlName="city" maxlength="100" pattern="[a-zA-Z ]+">
          </div>
          <div
            *ngIf="addFieldForm.controls.city.errors && addFieldForm.controls['city'].invalid && (addFieldForm.controls['city'].dirty || addFieldForm.controls['city'].touched)"
            class="error">
            <span *ngIf="addFieldForm.controls.city.errors.maxlength">City must be less than 100 characters</span>
            <span *ngIf="addFieldForm.controls.city.errors.pattern">City should contains only alpha characters and
              spaces</span>
          </div>
          <div class="form-group">
            <label class="pl-15">ZIP Code</label>
            <input type="text" class="form-control" formControlName="zipcode" maxlength="10"
              (keypress)="numberOnly($event)">
          </div>
          <div
            *ngIf="addFieldForm.controls.zipcode.errors && addFieldForm.controls['zipcode'].invalid && (addFieldForm.controls['zipcode'].dirty || addFieldForm.controls['zipcode'].touched)"
            class="error">
            <span *ngIf="addFieldForm.controls.zipcode.errors.maxlength">ZIP Code must be less than 10 characters</span>
            <span *ngIf="addFieldForm.controls.zipcode.errors.pattern">ZIP Code should be digit</span>
          </div>

          <div class="form-group">
            <label class="pl-15">Notes</label>
            <textarea class="form-control textareafield" formControlName="notes" maxlength="500"></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info  btn-save pull-right"
              [ngStyle]="{ 'cursor' : (!addFieldForm.valid)? 'not-allowed' : 'pointer' }"
              [disabled]="!addFieldForm.valid" (click)="addField()">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- [ cultureModal ] -->
<div class="modal" tabindex="-1" id="culturemodalId" role="dialog" [ngStyle]="{'display':cultureModal}"
  (click)="closemodal('culture')">
  <div class="modal-dialog">
    <div class="modal-content" id="cultureContentId">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeCultureModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title text-center">
          <strong>Create New Culture</strong>
        </h4>
      </div>
      <div class="error-message alert alert-danger alert-dismissible" role="alert" *ngIf="isError">
        {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body cultureModalBody">
        <form [formGroup]="addCultureForm">
          <div class="form-group">
            <label class="pl-15">Delicate</label>
            <div class="select">
              <select formControlName="delicate">
                <ng-template ngFor let-cropFamily [ngForOf]="allCrops$">
                  <optgroup *ngIf="cropFamily.crop_family_id != 13" label="{{cropFamily.crop_family_name}}">
                    <option [value]="crop.crop_id" *ngFor="let crop of cropFamily.crops">
                      {{crop.crop_name}}
                    </option>
                  </optgroup>
                </ng-template>
              </select>
              <div class="selectarrow"></div>
            </div>
          </div>
          <div
            *ngIf="addCultureForm.controls.delicate.errors && addCultureForm.controls['delicate'].invalid && (addCultureForm.controls['delicate'].dirty || addCultureForm.controls['delicate'].touched)"
            class="error">
            <span *ngIf="addCultureForm.controls.delicate.errors.required">Delicate is required</span>
          </div>
          <div class="form-group">
            <label class="pl-15">plant variety</label>
            <input type="text" class="form-control" formControlName="plantVariety" maxlength="500">
          </div>
          <div class="date-div">
            <div class="date-from">
              <div class="form-group">
                <label class="pl-15">From</label>
                <input type="text" formControlName="dateFrom" id="dateFrom" 
                
                  class="popupdatepicker">
              </div>
              <div
                *ngIf="addCultureForm.controls.dateFrom.errors && addCultureForm.controls['dateFrom'].invalid && (addCultureForm.controls['dateFrom'].dirty || addCultureForm.controls['dateFrom'].touched)"
                class="error">
                <span *ngIf="addCultureForm.controls.dateFrom.errors.required">Date From is required</span>
              </div>
              <span *ngIf="addCultureForm.errors?.dateFrom" class="error">{{ addCultureForm.errors?.dateFrom }}</span>
            </div>
            <div class="date-to">
              <div class="form-group">
                <label class="pl-15">To</label>
                <input type="text" placeholder="dateTo" formControlName="dateTo" id="dateTo" class="popupdatepicker">
              </div>
              <div
                *ngIf="addCultureForm.controls.dateTo.errors && addCultureForm.controls['dateTo'].invalid && (addCultureForm.controls['dateTo'].dirty || addCultureForm.controls['dateTo'].touched)"
                class="error">
                <span *ngIf="addCultureForm.controls.dateTo.errors.required">Date To is required</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Cultivated Area </label>
            <input type="text" class="form-control" formControlName="cultivatedArea" (keypress)="numberOnly($event)">
            <small class="pl-15"><strong>in `a` (Acre)</strong></small>
            <small *ngIf="showRemainingSpace" class="remainingSpace pull-right">Remaining Space:
              <strong>{{ remainingSpace + 'a'}}</strong></small>
          </div>
          <div
            *ngIf="addCultureForm.controls.cultivatedArea.errors && addCultureForm.controls['cultivatedArea'].invalid && (addCultureForm.controls['cultivatedArea'].dirty || addCultureForm.controls['cultivatedArea'].touched)"
            class="error">
            <span *ngIf="addCultureForm.controls.cultivatedArea.errors.required">Cultivated Area is required</span>
            <span *ngIf="addCultureForm.controls.cultivatedArea.errors.maxlength">Cultivated Area must be less than 10
              characters</span>
          </div>
          <span *ngIf="cultureSizeIssue" class="error">Cultivated Area Size is Exceeded from Field Size.</span>
          <div class="date-div col-md-12 col-sm-12 col-xs-12">
            <div class="swapped col-md-4 col-sm-6 col-xs-12 pad-0">
              <div class="form-group">
                <label class="container-checkbox">Swapped
                  <input type="checkbox" formControlName="isSwapped" (change)="checkUncheckSwapping($event)">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="swappedwith col-md-8 col-sm-6 col-xs-12 pad-0">
              <div class="form-group" *ngIf="showHideSwappedWith">
                <label>Swapped With: (Person Name)</label>
                <input type="text" class="form-control" formControlName="swappedWith" maxlength="50">
              </div>
              <span
                *ngIf="addCultureForm.errors?.swappedWithRequired && (addCultureForm.controls['swappedWith'].dirty || addCultureForm.controls['swappedWith'].touched)"
                class="error">{{ addCultureForm.errors?.swappedWithRequired }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="pl-15">Notes</label>
            <textarea class="form-control textareafield" formControlName="notes" maxlength="500"></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-info btn-save pull-right"
              [ngStyle]="{ 'cursor' : (!addCultureForm.valid)? 'not-allowed' : 'pointer' }"
              [disabled]="!addCultureForm.valid" (click)="addCulture()">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- [ HelpModal ] -->
<div class="modal" tabindex="-1" role="dialog" id="helpmodalId" [ngStyle]="{'display':helpModal}"
  (click)="closemodal('help')">
  <div class="modal-dialog">
    <div class="modal-content" id="helpContentId">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closehelpModal()" aria-label="Close">
          <i-x></i-x>
        </button>
        <h4 class="modal-title text-center">
          <strong>{{ helpTextHeading }}</strong>
        </h4>
      </div>
      <div class="modal-body">
        <ul *ngIf="helpText$">
          <li class="helptext" *ngFor="let item of helpText$">{{ item }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-info btn-help cursorpointer"
          (click)="closehelpModal()">Close</button>
      </div>
    </div>
  </div>
</div>