<app-adminheader></app-adminheader>
<div class="pageHeading col-md-12">
  <h2 class="page-title">Profile</h2>
 </div>
<div id="exTab1" class="col-sm-12 col-xs-12">
  <div class="tab-content clearfix">
    <div class="tab-pane active">  
      <form id="profileForm" [formGroup]="profileForm">
        <div class="col-md-12 mar-top2em">
          <div class="col-md-4">
            <label>Profilbild</label>
            <div>
              <input type="file" class="form-control" (change)="detectFiles($event)" formControlName="image" (change)="onFileChanged($event)">
              <small class="note">* max. Dateigröße 3MB | max. Messungen 2000 auf 2000 Pixel
                </small>
                <div>
                  <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
                </div>
            </div>
            <div class="error" *ngIf="filevalidationError">{{ filevalidationErrorMsg }}</div>
          </div>
        </div>
        <div class="col-md-12 mar-top1em">
          <div class="col-md-4">
            <label>Name</label>
            <div>
              <input type="text" class="form-control" formControlName="name" maxlength="50">
            </div>
            <div *ngIf="profileForm.controls.name.errors && profileForm.controls['name'].invalid && (profileForm.controls['name'].dirty || profileForm.controls['name'].touched)" class="error">
              <span *ngIf="profileForm.controls.name.errors.required">Name ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.name.errors.maxlength">Der Name darf nicht länger als 50 Zeichen sein
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Email</label>
            <div>
              <input type="hidden" class="form-control" formControlName="oldemail" maxlength="50">
              <input type="text" class="form-control" formControlName="email" maxlength="50">
            </div>
            <div *ngIf="profileForm.controls.email.errors && profileForm.controls['email'].invalid && (profileForm.controls['email'].dirty || profileForm.controls['email'].touched)" class="error">
              <span *ngIf="profileForm.controls.email.errors.required">E-Mail ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.email.errors.maxlength">Die E-Mail darf nicht länger als 50 Zeichen sein
                </span>
              <span *ngIf="profileForm.controls.email.errors.pattern">E-Mail sollte eine gültige E-Mail-Adresse sein
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Unternehmen</label>
            <input type="text" class="form-control" formControlName="company" maxlength="100">
            <div *ngIf="profileForm.controls.company.errors && profileForm.controls['company'].invalid && (profileForm.controls['company'].dirty || profileForm.controls['company'].touched)" class="error">
              <span *ngIf="profileForm.controls.company.errors.required">Firma ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.company.errors.maxlength">Firma muss weniger als 100 Zeichen haben
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 mar-top1em">
          <div class="col-md-4">
            <label>Language</label>
            <select class="form-control" formControlName="language">
              <option [value]="language.ac_languageId" *ngFor="let language of allLanguages$" >{{ language.name }}</option>
            </select>
            <div *ngIf="profileForm.controls.language.errors && profileForm.controls['language'].invalid && (profileForm.controls['language'].dirty || profileForm.controls['language'].touched)" class="error">
              <span *ngIf="profileForm.controls.language.errors.required">Sprache ist erforderlich
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Phone</label>
            <div>
              <input type="text" class="form-control" (keypress)="checkPhone($event)" formControlName="phone" maxlength="15">
            </div>
            <div *ngIf="profileForm.controls.phone.errors && profileForm.controls['phone'].invalid && (profileForm.controls['phone'].dirty || profileForm.controls['phone'].touched)" class="error">
              <span *ngIf="profileForm.controls.phone.errors.required">Telefon ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.phone.errors.maxlength">Das Telefon muss aus weniger als 15 Zeichen bestehen
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Hausnummer / Straßenname
              </label>
            <div>
              <input type="text" class="form-control" formControlName="streetName" maxlength="150">
            </div>
            <div *ngIf="profileForm.controls.streetName.errors && profileForm.controls['streetName'].invalid && (profileForm.controls['streetName'].dirty || profileForm.controls['streetName'].touched)" class="error">
              <span *ngIf="profileForm.controls.streetName.errors.required">Hausnummer / Straßenname ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.streetName.errors.maxlength">Die Hausnummer / der Straßenname darf nicht länger als 150 Zeichen sein
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 mar-top1em">
          <div class="col-md-4">
            <label>Postal Code</label>
            <div>
              <input type="text" class="form-control" formControlName="postalCode" maxlength="10" (keypress)="numberOnly($event)">
            </div>
            <div *ngIf="profileForm.controls.postalCode.errors && profileForm.controls['postalCode'].invalid && (profileForm.controls['postalCode'].dirty || profileForm.controls['postalCode'].touched)" class="error">
              <span *ngIf="profileForm.controls.postalCode.errors.required">Postleitzahl ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.postalCode.errors.maxlength">Die Postleitzahl muss aus weniger als 10 Zeichen bestehen
                </span>
              <span *ngIf="profileForm.controls.postalCode.errors.pattern">Die Postleitzahl sollte eine Ziffer sein
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Stadt</label>
            <div>
              <input type="text" class="form-control" formControlName="city" maxlength="100" pattern="[A-zÀ-ÿ ]+">
            </div>
            <div *ngIf="profileForm.controls.city.errors && profileForm.controls['city'].invalid && (profileForm.controls['city'].dirty || profileForm.controls['city'].touched)" class="error">
              <span *ngIf="profileForm.controls.city.errors.required">Stadt ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.city.errors.maxlength">Die Stadt darf nicht länger als 100 Zeichen sein
                </span>
              <span *ngIf="profileForm.controls.city.errors.pattern">Stadt sollte nur Buchstaben und Leerzeichen enthalten
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Country</label>
            <div>
              <input type="text" class="form-control" formControlName="country" maxlength="100" pattern="[A-zÀ-ÿ ]+">
            </div>
            <div *ngIf="profileForm.controls.country.errors && profileForm.controls['country'].invalid && (profileForm.controls['country'].dirty || profileForm.controls['country'].touched)" class="error">
              <span *ngIf="profileForm.controls.country.errors.required">Land ist erforderlich
                </span>
              <span *ngIf="profileForm.controls.country.errors.maxlength">Das Land darf nicht länger als 100 Zeichen sein
                </span>
              <span *ngIf="profileForm.controls.country.errors.pattern">Das Land sollte nur Buchstaben und Leerzeichen enthalten
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input type="button" class="btn btn-success btn-block save-button" value="Save" [ngStyle]="{ 'cursor' : (!profileForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!profileForm.valid" (click)="SubmitProfile()"/>
          </div>
        </div>
        <div class="error-message alert alert-danger col-md-12 customalert" *ngIf="isError">
          {{errorMessage}}
        </div>
        <div class="error-message alert alert-success col-md-12 customalert" *ngIf="isSuccess">
          {{successMessage}}
        </div>
      </form>
    </div>
  </div>

  <div class="tab-content clearfix changePasswordSection">
    <div class="tab-pane active"> 
      <form id="changePasswordForm" [formGroup]="changePasswordForm">
        <div class="error-message alert alert-danger" *ngIf="isPasswordError">
            {{PassworderrorMessage}}
        </div>
        <div class="error-message alert alert-success" *ngIf="isPasswordSuccess">
            {{PasswordsuccessMessage}}
        </div>
        <div class="col-md-12 mar-top2em">
          <div class="col-md-4">
            <label>Old Password</label>
            <div>
              <input type="password" class="form-control" formControlName="oldPassword" maxlength="25" minlength="6">
            </div>
            <div *ngIf="changePasswordForm.controls.oldPassword.errors && changePasswordForm.controls['oldPassword'].invalid && (changePasswordForm.controls['oldPassword'].dirty || changePasswordForm.controls['oldPassword'].touched)" class="error">
              <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Altes Passwort ist erforderlich
                </span>
              <span *ngIf="changePasswordForm.controls.oldPassword.errors.minlength">Das alte Passwort muss aus mindestens 6 Zeichen bestehen
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Neues Kennwort
              </label>
            <div>
              <input type="password" class="form-control" formControlName="password" maxlength="25" minlength="6">
            </div>
            <div *ngIf="changePasswordForm.controls.password.errors && changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)" class="error">
              <span *ngIf="changePasswordForm.controls.password.errors.required">Neues Passwort ist erforderlich
                </span>
              <span *ngIf="changePasswordForm.controls.password.errors.minlength">Das neue Passwort muss aus mindestens 6 Zeichen bestehen
                </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Bestätige neues Passwort
              </label>
            <input type="password" class="form-control" formControlName="confirmPassword" maxlength="25" minlength="6">
            <div *ngIf="changePasswordForm.controls.confirmPassword.errors && changePasswordForm.controls['confirmPassword'].invalid && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)" class="error">
              <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Passwort bestätigen ist erforderlich
                </span>
              <span *ngIf="changePasswordForm.controls.confirmPassword.errors.minlength">Das Bestätigungskennwort muss aus mindestens 6 Zeichen bestehen
                </span>
            </div>
            <div *ngIf="changePasswordForm.errors" class="error">{{ changePasswordForm.errors?.passwords }}</div>
          </div>
        </div>        
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input type="button" class="btn btn-success btn-block save-button" value="Save" [ngStyle]="{ 'cursor' : (!changePasswordForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!changePasswordForm.valid" (click)="SubmitChangePassword()"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-alert></app-alert>