<app-adminheader></app-adminheader>
<div class="pageHeading col-md-12">
  <h2 class="page-title">Language Key</h2>
  
 </div>
<div id="exTab1" class="col-sm-12 col-xs-12">
  <div class="tab-content clearfix">
    <div class="tab-pane active">  
      <form id="languageForm" [formGroup]="languageForm">
          <div class="error-message alert alert-danger col-md-12 customalert" *ngIf="isError">
            {{errorMessage}}
          </div>
          <div class="error-message alert alert-success col-md-12 customalert" *ngIf="isSuccess" [ngClass] ="FadeOutLink()">
            {{successMessage}}
          </div>

        <div class="col-md-12">
          <div class="col-md-3">
            <label>Language</label>
            <select class="form-control" formControlName="language">
              <option [value]="language.symbol" *ngFor="let language of allLanguages$">{{ language.name }}</option>
            </select>
            <!--div *ngIf="languageForm.controls.language.errors && languageForm.controls['language'].invalid && (languageForm.controls['language'].dirty || languageForm.controls['language'].touched)" class="error">
              <span *ngIf="languageForm.controls.language.errors.required">Sprache ist erforderlich
                </span>
            </div-->
          </div>
          <div class="col-md-3">
            <input type="button" class="btn btn-success btn-block save-button" [ngStyle]="{ 'cursor' : (!languageForm.valid)? 'not-allowed' : 'pointer' }" [disabled]="!languageForm.valid" value="Search" (click)="getLanguageFileData()"/>
          </div>

          <div class="col-md-6">
              <a routerLink="/admin/manageLanguage" title="Manage Language" class="btn btn-info pull-right">Manage Language</a>
          </div>
          <!----<span class="table-remove glyphicon glyphicon-plus" (click)="UpdateData()"></span-->
           
        </div>
        <div class="col-md-12" style="margin-top:2%;">
            <div *ngIf="jsonData" id="table" class="table-editable" class="col-md-10">
                <table class="table" style="color:#000000;">
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let data of jsonData" >
                    <td contenteditable="false">{{data.key}}</td>
                    <td contenteditable="true" #newData id="data.key">{{data.value}}</td>
                    <td>
                      <span class="table-remove glyphicon glyphicon-refresh" (click)="UpdateData(newData,data.value,data.key)"></span>
                    </td>
                  </tr>
                </table>
            </div>
        </div>
        
        
      </form>
    </div>
  </div>

  
</div>
<app-footer></app-footer>
