.form-group .popupdatepicker .ngx-datepicker-container .ngx-datepicker-calendar-container {
  max-width: 264px;
}

.form-group .popupdatepicker .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-container {
  padding: 10px 10px 0 !important;
}

.form-group .popupdatepicker .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-days .day-unit {
  height: 34px !important;
}

.form-group .popupdatepicker .ngx-datepicker-container .ngx-datepicker-calendar-container .main-calendar-days .day-unit.is-selected {
  background: #5bc0de !important;
}

.form-group .popupdatepicker .ngx-datepicker-container .ngx-datepicker-calendar-container .topbar-container {
  height: 38px !important;
}


.form-group .popupdatepicker .ngx-datepicker-container .ngx-datepicker-input{
  border: none !important;
  width: 100% !important;
  padding: 6px 15px !important;
}