@import "../variables.component.scss";

.login-icon {
    text-align: center;
    margin-left: 7px;
    margin-top: 4em;
      .login-icon-img {
           margin:auto;
           position: relative;
           z-index: 9999;
           width: 90px;
           height: 90px;
      }
}

.mid-section {
  background: $Whitecolor;
  min-height: 400px;
  margin-top: -1.5em;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #eaeaea;
  h2 {
    color: $primary-color;
    text-align: center;
    font-size: $headingFontSize;
    margin-top: 0px;
    font-weight: $boldFontWeight;
    margin-top: 2.2em;
  }
  p {
    text-align: center;
    color: $secondary-color;
    font-size: $defaultFontSize;
    line-height: 1.5;
  }
  form {
    margin: 1em 0;
    .form-control {
      border-radius: 20px;
      height: 40px;
    }
    .btn-reset {
      height: 40px;
      border-radius: 25px;
      margin-bottom: 1.3em;
      font-size: $defaultFontSize;
      background-color: #4a9fd6;
      line-height: 1.5;
    }
    .error {
      font-size: 14px;
      color: #dc3545;
      width: 100%;
      text-align: left;
      padding-left: 6%;
      line-height: 1.5;
    }
  }
  .login {
    display: inline;
    text-align: center;
    font-size: $defaultFontSize;
    font-weight: $semiboldFontWeight;
    color: $primary-color;
    line-height: 1.5;
    a {
      text-decoration: none;
      color: #4a9fd6;
    }
  }
  .customImgCls {
    max-width: 70%;
    margin-left: 15%;
  }
  .mb-5 {
    margin-bottom: 5%;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mb-3 {
    margin-bottom: 3px;
  }

  .mb-23 {
    margin-bottom: 23px;
  }
}

::ng-deep {
  .black-overlay {
    position: fixed;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-toggle {
    margin-top: 14px;
  }
}

@media only screen and (min-width: 461px) and (max-width: 800px) {
  .registerationSection {
    margin-top: -2.3em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 460px) {
  .registerationSection {
    margin-top: -2em;
  }
  .registerationSection #registerform fieldset {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .login-icon .login-icon-img {
    width: 70px;
    height: 70px;
  }
}
