
.error {
    font-size: 88%;
    color: #dc3545;
    width: 100%;
    padding-left: 1%;
    line-height: 1.5;
  }
.pageHead{
    margin-top: 6em;
  
    .page-title {
        font-size: 26px;
        font-weight: bold;
        color: #606060;
        line-height: 1.1;
        display: inline;
    }
    .btn-success {
        border-radius: 20px;
        padding: 6px 34px;
        
    }
}

.btn{
    cursor: pointer;
}

.contentSection {
    margin-top: 0.3em;
}

.p0{
    padding: 0px;
}

.col-padding {
    padding: 0px 3px;
}

.wid-100{
    width: 100%;
}


.panel {
    border-radius: 10px;

    .panel-heading{
       background: #f1fbfe;
       border-radius: 50px 50px 0px 0px;
       border-color: #f1fbfe;
        .panel-title {
            font-weight: 600;
            color: #6c6d6d;
            font-size: 18px;
            span {
                margin-top: 2px;
                position: absolute;
                margin-left: 5px;
            }
        }
    }

    .panel-body {
        border-radius: 0px 0px 50px 50px;
        background: #f1fbfe;
        padding: 0px 15px 15px;
          .form-control {
              border: 1px solid #afafaf;
              border-radius: 20px;
              padding: 3px 6px;
          }
          .btn-masters{
                    background: #5bc0de;
                    border: 1px solid #5bc0de;
                    color: #fff;
                    text-align: center;
                    border-radius: 25px;
                    width: 100%;
                   
          }
          .hr-panel{
              border: 1px solid #dce5e7;
          }
          h4{
              font-size: 15px;
              color: #848788;
              margin-bottom: 11px;
              font-weight: 600;
          }
          .bor-btm {
              border-bottom: 1px solid #dee7ea;
               .row{
                  margin: 0px;
               }
          }
          .row-btm{
            .row{
                margin: 0px;
            }
          }
          .mb1em{
              margin-bottom: 1em;
              .row{
                margin: 0px;
             }
          }
          .edit-icon-wrapper {
                   .icon {
                    width: 18px;
                    color: #626363;
                    margin: 7px 10px 6px 4px;
                    cursor: pointer;
                   }
          }
    }

}

.modal-body{
    padding: 0px 25px 15px;
    .nav-tabs {
        margin-left: -10px;
            li {
                  a {
                    color: #6b6b6b;
                    font-size: 17px;
                    
                  }
                 
                }
            }


    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: #6b6b6b;
        font-size: 19px;
        font-weight: 600;
        border-bottom: 2px solid #4a9fd6;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        display: inline-block;
    }
    
    input[type=checkbox], input[type=radio] {
        margin: 7px 0 0;
    }

    .tab-content{
        margin: 11px 0px;
    }
    label {
        color: #6b6b6b;
    }
    .form-control {
        border: 1px solid #afafaf;
        border-radius: 20px;
        padding: 3px 6px;
    }
    .amt-field{
        width: 35%;
        display: inline;
    }
    .amt-select{
        width: 62%;
        margin: 0px 0px 0px 6px;
        display: inline;
    }
    .mttab {
        margin-top: 1em;
    }
    .panel 
        { 
         border: 1px solid #fff;
            .panel-heading {
                background: #ffffff;
                border-radius: 0px;
                border-color: #ffffff;
                padding: 0px;
                .btn-masters{
                    background: #5bc0de;
                    border: 1px solid #5bc0de;
                    color: #fff;
                    text-align: center;
                    border-radius: 25px;
                }
             }
            .panel-body {
                border-radius: 0px;
                background: #ffffff;
                padding: 0px 0px 15px;
            }
            
        }
   

}

.panel-heading .panel-title a.collapsed .down,
.panel-heading .panel-title .up {
  display: none;
}

.panel-default{
    background: #f1fbfe;
}

.panel-heading .panel-title a.collapsed .up,
.panel-heading .panel-title .down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.collapsed ~ .panel-body {
  padding: 0;
}

.modal{
   background-color: rgba(0, 0, 0, 0.4);
}



@media only screen and (max-width: 991px) and (min-width: 768px) {
    .panel .panel-body .form-control {
        border: 1px solid #848788;
        padding: 4px 3px;
    }
    .panel .panel-body .edit-icon-wrapper .icon {
        margin: 7px 1px 6px 5px;
    }
    .modal-body label {
        color: #6b6b6b;
        font-size: 15px;
    }
    .modal-body .form-control {
        padding: 4px 3px;
    }

}

@media only screen and (max-width: 767px) and (min-width: 300px) {
    .panel .panel-body .form-control {
        border: 1px solid #848788;
        padding: 4px 10px;
    }
    .panel .panel-body .edit-icon-wrapper .icon {
        margin: 7px 1px 6px 5px;
    }
    .mobile_margin {
        margin-bottom: 0.6em;
    }
    .col-4-padding{
        padding: 0px 3px;
    }
    .btn-masters {
        text-align: center;
    }
    .col-padding .mobile-label {
        display: inline-block;
    }
    .panel .panel-body h4 {
        font-size: 15px;
        color: #848788;
        margin-bottom: 11px;
        font-weight: 600;
        margin: 4px;
        line-height: 20px;
    }
    .pageHead {
        margin-top: 7em;
    }
    .contentSection {
        margin-top: 0em; 
    }
    .modal-body label {
        color: #6b6b6b;
        font-size: 15px;
    }
    .modal-body .form-control {
        padding: 4px 10px;
    }
    .nav>li>a {
        padding: 10px 7px;
       
    }
    .modal-body .nav-tabs > li.active > a, .modal-body .nav-tabs > li.active > a:focus, .modal-body .nav-tabs > li.active > a:hover {
       font-size: 17px;
    }
    .font-16{
        font-size: 16px;
    }
    .pageHead .page-title {
        font-size: 22px;
    }
    button.close {
        margin-top: -10px;
    }
}

.mobile-label {
    display: none;
}

