@import "../variables.component.scss";

.logo_header {
    background: $Whitecolor;
    border-radius: 50%;
    width: 10%;
    margin: 0px auto;
    padding: 24px;
    height: 10%;
    position: relative;
    z-index: 9999;
    margin-top: 4em;
    a {
        text-decoration: none;
        .logosection {
            margin: 0px auto;
            display: inline;
            width: 55px;
        }
        span {
            font-size: 31px;
            color: $primary-color;
            font-weight: 700;
            padding-left: 10px;
        }
    }   
}

.login-icon {
    text-align: center;
    margin-left: 7px;
    margin-top: 4em;
      .login-icon-img {
           margin:auto;
           position: relative;
           z-index: 9999;
           width: 90px;
           height: 90px;
      }
}



.loginsection {
    margin-top: -1.5em;
    background: $Whitecolor;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    padding: 1em 2em 2em;
    position: relative;
    z-index: 9;
    h1 {
        color: $primary-color ;
        font-size: $headingFontSize ;
        font-weight: $boldFontWeight ;
        line-height: 1.1;
    }

    .loginForm {
        margin: 2em 0 1em 0;
    }
        
    label {
        color: $secondary-color;
        font-weight:$semiboldFontWeight;
        padding: 0 12px;
        font-size: $defaultFontSize;
        margin-left: 2px;
        line-height: 1.5;
    }
    
    .form-control {
        border-radius: 20px;
        height: 40px;
    }
    
    .signup {
        color: #4a9fd6;
        display: inline;
        text-align: left;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        margin: 0px;
        a {
            text-decoration: none;
            color:#4a9fd6;
        }
    }

    .forgotpass {
        color: #ff1616;
        display: inline;
        text-align: right;
        font-size: $defaultFontSize;
        font-weight: $boldFontWeight;
        margin: 0px;
            a {
            color: #ff1616;
            text-decoration: none;
        }    
    }

    .btnlogin {
        background: #4a9fd6;
        box-shadow: 2px 2px 5px #ccc;
        color: $Whitecolor ;
        border-radius: 20px;
        height: 40px;
        margin-top: 1em;
        font-size: $defaultFontSize;
        margin-bottom: 10px;
        line-height: 1.5;
        &:focus {
            outline: 0;
        }
    }

    .remembertext {
        color: $secondary-color;
        margin-left: 12px;
    }

    .containercheckbox {
        display: block;
        position: relative;
        padding-left: 27px ;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: $defaultFontSize;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
                
            &:checked { 
                ~ .checkmark {
                background-color: #2196F3;

                    &:after {
                        display: block;
                    }
                }
            }                    
        }
    
        .checkmark {
            position: absolute;
            top: 3px;
            left: 0;
            height: 16px;
            width: 16px;
            background-color: #73b680;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    .error {
        font-size: 14px;
        color: #dc3545;
        width: 100%;
        text-align: right;
        padding-left: 6%;
        line-height: 1.5;
    }
    
    .mb-3{
        margin-bottom: 3px;
    }
    
    .mb-23{
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 800px) {

 .logo_header {
    background: #fff;
    border-radius: 50%;
    width: 19%;
    margin: 0px auto;
    padding: 12px;
    height: 29%;
    position: relative;
    z-index: 9999;
    margin-top: 4em;
}
.loginsection {
    margin-top: -2em;
  }
}

@media only screen and (min-width:300px) and (max-width: 460px)  {
    .logo_header {
        background: #fff;
        border-radius: 50%;
        width: 14%;
        margin: 0px auto;
        padding:15px;
        height: 29%;
        position: relative;
        z-index: 9999;
        margin-top: 4em;
    }
    .loginsection {
        margin-top: -2em;
      }
}

@media only screen and (min-width:461px) and (max-width: 991px) {

    .logo_header {
       background: #fff;
       border-radius: 50%;
       width: 14%;
       margin: 0px auto;
       padding: 22px;
       height: 29%;
       position: relative;
       z-index: 9999;
       margin-top: 4em;
   }
   .loginsection {
       margin-top: -2em;
    }
}


@media only screen and (max-width: 767px) and (min-width:300px) {
    .loginsection {
       padding: 1em 1em 2em;
    }
}
